<h1>Lista de productos (estática)</h1>

<ul>
    {{#each products}}
        <li>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Código: {{code}}</p>
            <p>Precio: ${{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Categoría: {{category}}</p>
        </li>
    {{/each}}
</ul>


<a href="/realtimeproducts">Ir a productos en tiempo real</a>
